.mmb_main {
  background-color: #fff;
}
.mc_nav {
  padding: .1rem;
  margin: .2rem auto;
  width: 6rem;
}
.mc_nav a {
  height: .84rem;
  background-color: #F4F4F4;
  border: 1px solid #BFBFBF;
  font-size: .32rem;
  float: left;
  color: #333;
  line-height: 100%;
  padding: .2rem .16rem;
  margin: .06rem;
}
.mc_nav a img {
  margin-right: .06rem;
  width: .34rem;
  height: .34rem;
  display: inline-block;
  vertical-align: middle;
}
